@import "context";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(46, 50, 54);
}

.container{
    width: 1100px;
    height: 100vh;
    margin: 50px auto;
}

.todo-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    max-width: 550px;
    min-height: 350px;
    max-height: 800px;
    overflow: auto;
    margin: 0 auto;
    border: 2px solid $main-color;
    border-radius: 15px;
    background-color: rgb(37, 40, 43);

}

h1{
    text-align: center;
    color: $text-color;
    margin-top: 25px;
    font-family:'Courier New', Courier, monospace;
    font-size: 45px;
}

.form-container{
    width: 100%;
    border-bottom: 2px solid orangered;
    text-align: center;
}

.todoForm{
    display: none;
    margin-bottom: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-close-btn{
    display: flex;
    flex-direction: column;  
}

.form-content{
    width: 50%;
    padding: 10px;
    display: inline-block;
    
    input{
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        font-size: 16px;
        border: 1px solid transparent;
        border-radius: 5px;
        outline: none;
        
       
    }

    textarea{
        width: 100%;
        outline: none;
        padding: 8px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
}

input:focus,textarea:focus{
    border: 1px solid $main-color;

}


button{
    background-color: transparent;
    border: 0;
    cursor: pointer;

    img{
        width: 55px;
    }
}

.showForm-btn{
    margin: 20px 0;
}


.task-container{
    margin: 10px 0;
    width: 100%;
   
}

.task{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top: 1px solid $border-task;
    border-bottom: 1px solid $border-task;
    background-color: rgb(51, 52, 53);
    padding: 15px;
    margin: 10px 0;

    
    &-title{
        color: rgb(63, 171, 211);
        font-size: 20px;
        padding: 0 15px 0 10px;
    }

    &-description{
        width: 60%;
        color: $text-color;
        overflow:auto;
    }
}


.btns{
    display: inline-block;
    cursor: pointer;

    img{
        width: 30px; 
        padding: 5px 7px;
    }


}

.checked{ 
    color: white;
    text-decoration: line-through;
    background-color: rgb(48, 135, 10);
}


.check{
    cursor: pointer;
}


 
